
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Styles
@import "contact-form";

.emails-index{
    height: 256px;
}

.user-panel-body{
    height:57%;
}

.btn-flex{
    display: flex;
    justify-content: flex-end;
}

.btn-footer-flex{
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.emails-h2{
    font-size: 5em;
    font-weight: 600;
    line-height: .6em;
}

.username{
    color: #e13f30;
}

.dashboard-footer {
  padding: 10px 15px;
  border-top: 1px solid #d3e0e9;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}